@import "tailwindcss";

:root {
  --background: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-sans);
}
